body {
  margin: 0;
  padding: 0;
  background-color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.aquarium {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.fish {
  position: absolute;
  width: 100px;
  z-index: 3;
  animation: swim 12s linear infinite;
}
.fish1 {
  top: 100px;
  animation-duration: 10s;
}
.fish2 {
  top: 200px;
  width: 80px;
  animation-duration: 14s;
  animation-delay: 2s;
}
.fish3 {
  top: 250px;
  width: 120px;
  animation-duration: 16s;
  animation-delay: 4s;
}

@keyframes swim {
  0% {
    left: -150px;
    transform: scaleX(1);
  }
  50% {
    left: 750px;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1); 
  }
  100% {
    left: -150px;
    transform: scaleX(-1);
  }
}